.castGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-items: center;
  }
  
  .castItem {
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .castItem img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .castItem p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .castItem strong {
    font-weight: bold;
    color: #333;
  }
  